<header>
    <div class="col-md-12 image" >
        <div class="col-md-4 heading ">
            <h1 class="main-heading">Todos made easy</h1>
            <p class="main-par">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
              neque aliquam maiores atque excepturi temporibus sit voluptatum nihil
              suscipit iusto, veniam eum eius inventore eos commodi deserunt. Rem,
              tempore eos! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Ea placeat eligendi deserunt facilis fugiat at dicta ad, voluptatem
              nobis libero provident molestias sunt, laboriosam assumenda soluta,
              corrupti aliquam est vel!
            </p>
            <button routerLink="/login" class="btn draw-border">
              LOGIN IN
            </button>
            <button class="btn draw-border" routerLink="/register">REGISTER</button>
          </div>
    </div>
  </header>
