<div class="container-fluid">
    <div class="row d-flex justify-content-center register">
        <!-- Grid column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                   <form (ngSubmit)="onSubmit()" #registerForm="ngForm" novalidate>
                    <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Login:</h3>
                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control" name="username" [(ngModel)]=user.username #username="ngModel" required>
                        <label for="defaultForm-email">Your username</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control" name="password" [(ngModel)]=user.password #password="ngModel" required>
                        <label for="defaultForm-pass">Your password</label>
                    </div>
                   <button type="submit" class="btn btn-rounded btn-success">Login</button>

                   </form>
                </div>
            </div>
        </div>
</div>
